<%= form_for(@product) do |form| %>
  <%= react_component("ProductForm", {}, { prerender: true} ) %>
<% end %>
<br/>

<hr/>
<h2>Products</h2>
<% if @products.any? %>
  <%= render @products %>
<% else %>
  <span>There are no products registered.</span>
<% end %>